{
  "name": "{{ inventory_hostname }}",
  {% if block_volume is defined %}
  "volumes": {
    "1": {
      "size": 20000000000,
      "organization": "{{ organization }}",
      "volume_type": "b_ssd",
      "name": "block-volume--{{ inventory_hostname }}"
    }
  },
  {% endif %}
  "image": "{{ image_id }}",
  "enable_ipv6": true,
  "commercial_type": "{{ commercial_type|default("DEV1-M") }}",
  "organization": "{{ organization }}",
  "boot_type": "local"
}
